th  {
    padding: 0, 20px, 0, 20px;
}

td {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 5px;
}

button {
    margin-left: 10px;
}

.filtro {
    display: flex;
    margin-bottom: 10px;
}

.filtro p {
    margin: 0;
}

.filtro input {
    margin-left: 5px;
}

